* {
    color:aliceblue;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1px;
    padding: 2px;
}

body {

    background-color: black;

}

.head {
    width: 150px;
    height: 100px;
}

.head {
    display: flex
}

#src {
    display: flex;
    /* margin: 20px; */
    transform: translateX(+100px);
}

#src .s {
    /* height: 30px; */
    /* width: 800px; */
}


.fa {
    padding-bottom: 20px;
}

.sect-2 {
    /* margin: auto; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 300px;
    height: 250px;
    border-radius: 1pc;
    cursor: pointer;
}

.img-1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

}

.item-group {
    display: flex;
}

.item-group div {
    padding: 85px;
}

#search {
    padding: 30px;
    color: black;
}